* {
    border: 1px solid blue;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 0 150px;
}

.hero-banner{
    background-color: #1f2937;
}
.header {
    display: flex;
    justify-content: space-between;
}

ul {
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0;
    margin: 0;
    gap: 16px;
}

a {
    text-decoration: none   ;
}

.main-banner {
    display: flex;
    justify-content: space-between;
    gap: 32px;
    padding: 100px 0;
}

.left-container{
    flex: 1;
}

.right-container {
    flex: 1;
    display: flex;
    background-color: grey;
}

img {
    flex: 1;
    text-align: center;
}

a,
.text {
    font-size: 18px;
    color: #e5e7eb;
}
.logo {
    color: #f9faf8;
    font-size: 24px;
    font-weight: bold;
}

.title {
    color: #f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

button {
    background-color: #3882f6;
    padding: 8px 32px;
    border-radius: 8px;
    color: #f9faf8;
    font-weight: bold;
}